/*MISE EN PLACE DE FONT*/

@font-face {
    font-family: 'DinNarrowMedium';
    src: url(../font/DINPro-CondMedium.eot) format('embedded-opentype'),
         url(../font/DINPro-CondMedium.ttf) format('truetype');
}
/*
@font-face {
    font-family: 'DinNarrowLight';
    src: url(../font/DINPro-CondLight.otf) format('opentype'),
         url(../font/DINPro-CondLight.ttf) format('truetype');
}
*/
@font-face {
    font-family: 'DinNarrowBold';
    src: url(../font/DINPro-CondBold.eot) format('embedded-opentype'),
         url(../font/DINPro-CondBold.ttf) format('truetype');
}

/*BODY*/

/*HEADER*/

html, 
body {
    height: 100%;
}

body {
    
    font-size: 18px;
}

a {
    font-family: 'DinNarrowMedium' !important;
    font-size: 20px ;
}

p {
    font-family: 'DinNarrowMedium' !important;
    line-height: 28px;
    font-size: 20px ;
}

label {
    font-family: 'DinNarrowMedium' !important;
    line-height: 28px;
    font-size: 20px ;
    color: #496676;
}

h1 {
    font-family: 'DinNarrowBold' !important;
}

h2 {
    font-size: 26px ;
    font-family: 'DinNarrowBold';
}

#wrapper {
    width: 100%;
    float: left;
}

.navbar {
    float: right;
}

.boutonMenu a {
    float: left;
    text-align: right;
    padding: 20px 20px;
    text-decoration: none;
    font-weight: normal;
    color: #fff;
    font-size: 20px;
}

#menu {   
    width: 100%;
    background: #23343e;
    float: left;
    position: fixed;
    z-index: 1;
}

.fa:before {
    font-family:'FontAwesome';
    margin-right: 5px;
}

/*
.ico1 {
    background: url("../images/Home_Ico.png") no-repeat scroll 20px 20px transparent;
}

.ico2 {
    background: url("../images/About_Ico.png") no-repeat scroll 25px 20px transparent;
}

.ico3 {
    background: url("../images/Resume_Ico.png") no-repeat scroll 22px 21px transparent;
}

.ico4 {
    background: url("../images/Port_Ico.png") no-repeat scroll 22px 20px transparent;
}

.ico5 {
    background: url("../images/Contact_Ico.png") no-repeat scroll 22px 20px transparent;
}
*/

.boutonMenu a:hover, 
.boutonMenu a:focus,
.boutonMenu a:active {
    background-color: #a6dce7;
    transition: 0.3s;
    color: #496676; 
}


/*1st CONTAINER*/

.container {
    float: left;
    width: 100%;
}

#firstContainer {
    float: left;
    width: 100%;
    background: url("../images/1stContentBackGround.jpg") no-repeat scroll 0 0 transparent;
    padding-bottom: 135px;
}


#BlockLogo {
    height: 200px;
    margin-top: 8%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.SubFirstContainer h1 {
    color: #a6dce7;
    /* font-family: arial; */
    font-size: 40px;
    font-family: 'DinNarrowBold';
    /* margin-left: 15%; */
    /* margin-right: 15%; */
    text-align: center;
    width: 100%;
}


.SubFirstContainer h1 span {
    color: #fff;
}

.SubFirstContainer p {
    color: #fff;
    font-size: 20px;
    line-height: 28px;
    margin: 35px 40px;
    text-align: center;
    width: 410px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.SubFirstContainer p span {
    color: #a6dce7;
    font-weight: normal;
}

.ViewProfile a {
    width: 15%;
    /* float: left; */
    padding: 15px 0;
    font-size: 20px;
    /* margin-left: 42%; */
    /* margin-right: 42%; */
    color: #fff;
    text-align: center;
    border: 2px #a6dce7 solid;
    font-weight: normal;
    min-width: 200px;
    display: block;
    margin: auto;
}


.ViewProfile a:hover, 
.ViewProfile a:focus,
.ViewProfile a:active {
    background: #a6dce7;
    color: #496676;
    transition: 0.3s;
}

/*BIG TITLES*/

.IntroBox h1 {
    font-size: 40px;
    margin-bottom: 40px;
    padding-top: 95px;
}

/*2nd CONTAINER*/

#secondContainer {
    float: left;
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    background: url(../images/2ndContentBackGround.jpg) no-repeat scroll 0 0 transparent;
    padding-bottom: 65px;
}


#secondContainer .IntroBox h1 {
    background: transparent url("../images/lightBlueTitleBar.png") no-repeat scroll 0 75px;
    color: #496676;
}


#secondContainer .IntroBox p {
    width: 50%;
    color: #496676;
}

.IntroBox {
    margin-bottom: 50px;
}

.secondContainerInfoBox img {
    width: 35%;
    float: left;
 
}

.secondContainerInfoBox .leftBox {
    width: 48%;
    float: left;
}

.secondContainerInfoBox .leftBox .PersoInfo {
    width: 65%;
    float: left;
}

.secondContainerInfoBox .leftBox .PersoInfo p {
    margin-bottom: 25px;
    margin-left: 30px;
    padding-bottom: 10px;
    border-bottom: 2px solid #a6dce7;
    color: #496676;
    font-family: 'DinNarrowBold' !important;
}

.secondContainerInfoBox .leftBox .PersoInfo p span {
    font-family: 'DinNarrowMedium' !important;
}

.secondContainerInfoBox .rightBox {
    width: 48%;
    float: left;
    margin-left: 4%;
}

.secondContainerInfoBox .rightBox img {
    width: 500px;
    margin-left: 40px;
}

.secondContainerInfoBox .rightBox .SkillName {
    font-family: 'DinNarrowBold' !important;
}

.secondContainerInfoBox .rightBox .SkillBar {
    margin-left: 0 !important;
    width: 100%;
    float: left;
    margin-bottom: 10px;
}

.secondContainerInfoBox .rightBox .SkillNumber {
    text-align: right;
}

.secondContainerInfoBox .rightBox label {
    float: left;
    width: 50%;
}

/*3rd CONTAINER*/

#thirdContainer {
    width: 70%;
    float: left;
    padding-left: 15%;
    padding-right: 15%;
    background: url(../images/3rdContentBackGround.jpg) no-repeat scroll 0 0 transparent;
    background-size: 1965px;
    padding-bottom: 45px;
}

#thirdContainer .IntroBox {
    margin-bottom: 35px;
}

.thirdContainerInfoBox {
    width: 100%;
    float: left;
    padding-top: 35px;
    border-top: solid 2px #fff;
}

#thirdContainer .IntroBox h1 {
    background: transparent url("../images/whiteTitleBar.png") no-repeat scroll 0 75px;
    color: #496676;
}

#thirdContainer .IntroBox p {
    width: 50%;
    color: #496676;
}

.thirdContainerInfoBox .leftBox {
    width: 46%;
    float: left;
    padding-right: 4%;
}

.thirdContainerInfoBox .rightBox {
    width: 46%;
    float: left;
    padding-left: 4%;
}

.thirdContainerInfoBox .InfoExp {
    padding-left: 100px;
    color: #496676;
    padding-bottom: 20px;
    padding-top: 20px;
    /* border-bottom: 2px solid #fff; */
}

.thirdContainerInfoBox .ExpImg1 {
    background: transparent url(../images/circle6.png) no-repeat scroll 0 25px;
}

.thirdContainerInfoBox .ExpImg2 {
    background: transparent url(../images/circle1.png) no-repeat scroll 0 25px;
}

.thirdContainerInfoBox .ExpImg3 {
    background: transparent url(../images/circle2.png) no-repeat scroll 0 25px;
}

.thirdContainerInfoBox .ExpImg4 {
    background: transparent url(../images/circle3.png) no-repeat scroll 0 25px;
}

.thirdContainerInfoBox .ExpImg5 {
    background: transparent url(../images/circle4.png) no-repeat scroll 0 25px;
}

.thirdContainerInfoBox .ExpImg6 {
    background: transparent url(../images/circle5.png) no-repeat scroll 0 25px;
}

.InfoExp h2 {
    padding-bottom: 15px;
    margin-bottom: 15px;
    border-bottom: 2px solid #fff;
}

.CVcontainer {
    width: 100%;
    display: inline-block;
}

.CVcontainer a {
    width: 25%;
    /* float: left; */
    padding: 15px 0 16px 0;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #496676;
    text-align: center;
    border: 2px #fff solid;
    font-weight: normal;
    min-width: 150px;
    display: block;
    margin-top: 30px;
}


.CVcontainer a:hover,  .CVcontainer a:focus,  .CVcontainer a:active {
    background: #fff;
    border: 2px solid #fff;
    transition: 0.3s;
}

/*4th CONTAINER*/

#fourthContainer {
    width: 70%;
    float: left;
    padding-left: 15%;
    padding-right: 15%;
    background: url(../images/4thContentBackGround.jpg) no-repeat scroll 0 0 transparent;
    padding-bottom: 75px;
}

#fourthContainer .IntroBox h1 {
    background: transparent url("../images/lightBlueTitleBar.png") no-repeat scroll 0 75px;
    color: #fff;
}

#fourthContainer .IntroBox p {
    width: 50%;
    color: #fff;
}

.fourthContainerInfoBox .WorkPic {
    width: 100%;
    float: left;
}

.fourthContainerInfoBox .WorkPic .WorkPic1 {
    display: block;
    margin: auto;
    width: 33.33%;
}

.WorkPic2, 
.WorkPic3 {
    float: left;
    width: 33.33%
}

.checkWork {
    float: left;
    width: 33.33%;
    padding-top: 11%;
}

.fourthContainerInfoBox .checkWork h2 {
    text-align: center;
    color: #fff;
    padding-bottom: 35px;
}

.fourthContainerInfoBox .checkWork a {
    width: 65%;
    /* float: left; */
    padding: 15px 0 16px 0;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff; 
    text-align: center;
    border: 2px #a6dce7 solid;
    font-weight: normal;
    min-width: 150px;
    display: block;
}

.fourthContainerInfoBox .checkWork a:hover,
.fourthContainerInfoBox .checkWork a:focus,
.fourthContainerInfoBox .checkWork a:active { 
    background: #a6dce7;
    color: #496676;
    transition: 0.3s;
}

#fourthContainer .IntroBox {
    margin-bottom: 75px;
}

/*Fifth container*/

#fifthContainer {
    width: 70%;
    float: left;
    padding-left: 15%;
    padding-right: 15%;
    background: url(../images/5thContentBackGround.jpg) no-repeat scroll 0 -55px transparent;
    padding-bottom: 65px;
}

#fifthContainer .IntroBox h1 {
    background: transparent url("../images/lightBlueTitleBar.png") no-repeat scroll 0 75px;
    color: #496676;
}

#fifthContainer .IntroBox p {
    width: 50%;
    color: #496676;
}

#fifthContainer .IntroBox p span{
    font-family: 'DinNarrowBold';
}

#fifthContainer .IntroBox {
    margin-bottom: 50px !important;
}

.ContactInfo {
    padding-top: 50px;
    border-top: solid 1px #496676;
}

.ContactInfo h2 {
    color: #496676;
}

.ContactInfoText p {
    color: #496676;
    float: left;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 25px;
    border-left: 1px solid #496676;
}

.ContactInfoText p span {
    font-family: 'DinNarrowBold';
}

/*footer*/

.footer {
    width: 100%;
    background: #23343e;
    float: left;
    height: 180px;
}

.BackTop {
    width: 12%;
    /* float: left; */
    padding: 15px 0 16px 0;
    font-size: 20px;
    /* margin-left: 44%; */
    /* margin-right: 44%; */
    color: #fff;
    text-align: center;
    border: 2px #a6dce7 solid;
    font-weight: normal;
    margin-top: 45px;
    min-width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.BackTop:hover,  
.BackTop:focus,  
.BackTop:active {
    background: #a6dce7;
    color: #496676;
    transition: 0.3s;
}

/*Media queries*/

@media screen and (min-width:768px) and (max-width: 1024px) {
    
    p {
        line-height: 28px ;
        font-size: 20px ;
    }

    h1 {
        font-size: 40px ;
        font-weight: bold ;
    }

    a {
        font-size: 20px ;
        line-height: 28px ;
    }

    label {
        line-height: 28px;
        font-size: 20px ;
        color: #496676;
    }

    h2 {
        font-size: 26px ;
        font-weight: bold ;
    }


    #firstContainer {
        float: left;
        width: 100%;
        background: url("../images/1stContentBackGround.jpg") no-repeat scroll 0 0 transparent;
    }


    #firstContainer {
        float: left;
        width: 100%;
        background: url("../images/1stContentBackGround.jpg") no-repeat scroll -175px 0 transparent;
    }

    #secondContainer .IntroBox p {
        width: 100%;
        color: #496676;
    }

    .secondContainerInfoBox .leftBox {
        width: 100%;
        float: left;
    }

    .secondContainerInfoBox .leftBox .PersoInfo p {
        margin-bottom: 25px;
        padding-bottom: 10px;
    }

    #secondContainer {
        background: none;
    }

    .secondContainerInfoBox .rightBox {
        width: 100%;
        float: left;
        margin-left: 0;
        margin-top: 20px;
    }

    .secondContainerInfoBox .rightBox .SkillBar {
        height: 10px;
    }

    .thirdContainerInfoBox {
        padding-top: 20px;
    }

    #thirdContainer .IntroBox p {
        width: 100%;
        color: #496676;
    }

    .thirdContainerInfoBox .leftBox {
        width: 100%;
        float: left;
        padding-right: 0;
    }

    .thirdContainerInfoBox .rightBox {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    #fourthContainer .IntroBox p {
        width: 100%;
        color: #fff;
    }

    .checkWork {
        padding-top: 6%;
    }

    .fourthContainerInfoBox .checkWork h2 {
        text-align: center;
        color: #fff;
        padding-bottom: 10%;
    }

    #fifthContainer .IntroBox p {
        width: 100%;
        color: #496676;
    }

    #fifthContainer {
        background: url(../images/5thContentBackGround.jpg) no-repeat scroll -70px -55px transparent;
    }

}

@media screen and ( max-width: 767px ) {
    
    p {
        font-size: 20px !important;
        line-height: 26px !important;
    }

    a {
        font-size: 20px !important;
        line-height: 26px !important;
    } 
    
    label {
        font-size: 20px;
        line-height: 26px !important;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    h2 {
        font-size: 24px;
    }

    h1, 
    .IntroBox h1, 
    .SubFirstContainer h1 {
        font-size: 36px;
    }

    #firstContainer .SubFirstContainer {
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }

    .SubFirstContainer p {
        width: 100%;
        margin-bottom: 50px;
    }

    .ViewProfile a {
        width: 100%;
        padding: 15px 0;
        border: 2px #a6dce7 solid;
    /* font-size: 30px; */
    }

    #firstContainer {
        float: left;
        width: 100%;
        background: url("../images/1stContentBackGround.jpg") no-repeat scroll -700px 0 transparent;
        overflow: hidden;
        background-size: cover;
        padding-bottom: 85px;
    }

    .navbar {
        float: left;
        width: 100%;
    }

    .boutonMenu a {
        padding: 5px 2%;
        font-size: 16px !important;
    }

    #BlockLogo {
        margin-top: 90px;
        height: inherit;
        width: 100%;
        margin-bottom: 15px;
    }

    #secondContainer {
        float: left;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        background: none !important;
    }

    #secondContainer .IntroBox p {
        width: 100%;
        color: #496676;
    }

    .secondContainerInfoBox .leftBox {
        width: 100%;
        float: left;
    }

    .secondContainerInfoBox img {
        width: 30%;
        float: left;
    }

    .secondContainerInfoBox .leftBox .PersoInfo {
        width: 100%;
        float: left;
    }

    .secondContainerInfoBox .rightBox {
        width: 100%;
        float: left;
        margin-left: 0;
    }

    .secondContainerInfoBox .rightBox .SkillBar {
        margin-bottom: 15px;
        height: 12px;
    }

    #thirdContainer {
        float: left;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        background-size: 2050px;
    }

    #thirdContainer .IntroBox p {
        width: 100%;
        color: #496676;
    }

    .thirdContainerInfoBox .leftBox {
        width: 100%;
        float: left;
        padding-right: 0;
    }

    .thirdContainerInfoBox .rightBox {
        width: 100%;
        float: left;
        padding-left: 0;
    }

    .thirdContainerInfoBox .InfoExp {
        padding-bottom: 30px;
        padding-top: 30px;

    }

    #fourthContainer {
        float: left;
        width: 90%;
        padding-left: 5%;
        padding-right: 5%;
        background-size: cover;
    }

    #fourthContainer .IntroBox p {
        width: 100%;
        color: #fff;
    }

    .WorkPic3, 
    .WorkPic2 {
        display: none;
    }

    .fourthContainerInfoBox .WorkPic .WorkPic1 {
        display: block;
        margin: auto;
        width: 55%;
    }

    .secondContainerInfoBox .leftBox .PersoInfo p {
        margin-left: 0;
    }

    .secondContainerInfoBox .leftBox .PersoInfo {
        width: 100%;
        float: left;
        margin-top: 45px;
        margin-bottom: 30px;
    }

    .checkWork {
        float: left;
        width: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .fourthContainerInfoBox .checkWork a {
        width: 100%;
        padding: 15px 0;
        border: 2px solid #a6dce7;
    }

    #fifthContainer {
        width: 90%;
        float: left;
        padding-left: 5%;
        padding-right: 5%;
        background: none;
        padding-bottom: 65px;
    }

    #fifthContainer .IntroBox p {
        width: 100%;
        color: #496676;
    }

    .BackTop {
        width: 90%;
        padding: 15px 0;
        border: 2px solid #a6dce7;
    }

}

